* {
    margin: 0;
    padding: 0;

}
body {

     font-family: "Heebo", sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    margin: 10px;
    padding: 5px;
    align-items: center;
}

.navbar-sec1 img {
    width: 50px;
    display: inline-block;
}

.navbar-sec1 {
    display: flex;
    align-items: center;
}

.navbar-sec2,
.navbar-sec3 {
    display: flex;
    align-items: center;
    gap: 30px;
}
.navbar-sec3 button
{
    padding: 8px;
    border-radius: 20px;
    border: none;
    border-color: transparent;
    cursor: pointer;
}

.navbar-sec3__b2 {
    padding-right: 16px;
    background-color: black;
    color: white;
    padding: 10px;
    padding-left: 16px;
    border-radius: 20px;
    border: none;
}

/* Block section */
.stream1
{
    text-decoration: underline;

}
.stream1
{
        display: flex;
        gap: 20px;
        justify-content: space-evenly;
        margin: 30px;
        padding: 10px;
        font-weight: bold;
}
.search
{
    border: solid 1px black;
    width: 50%;
    padding: 10px;
    border-radius: 30px;
    margin-left: 20%;
    display: flex;
    align-items: center;
}
.search input{
    border: none;
    font-size: 16px;
    outline: none;
}
.search button{
    padding: 12px;
    padding-right: none;
    font-size: 16px;
    background-color: rgb(35, 235, 168);
    border: solid 1px black;
    border-radius: 20px;
    margin-left: 46%;
    width: 100px;
    border: none;
    cursor: pointer;
    align-items: center;
}

.part1
{
    width: 1000px;
    height: 400px;
    background-color: #FF5d5d;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    position: relative;
}
.part1-name
{
   position: absolute;
   bottom: 25px;
   left: 25px;
  
}
.part1 img{
    width: 50%;
    height: 100%;
    border-radius: 30px;
}
.part1-line
{
    border-left: solid 2px black;
    margin-left: 30px;
}
.part1-title ,.part1-title p
{
    padding: 0;
    padding-left: 10px;
}
.part1-title h1{
    font-size: 65px;
    font-weight: 1000;
}
.part1 button{
    background-color: black;
    color: white;
    padding: 10px;
    margin-top: 15px;
    margin-left: 5px;
    margin-bottom: 50px;
    border-radius: 30px;
    font-size: 16px;
    border: none;
}
.part2
{
    margin: 20px;
    padding: 10px;
}
.part2-section
{
    margin: 20px;
    padding: 10px;
    display: flex;
    gap: 10px;
}
.part2-section img{
    position: relative;
    display: inline-block;
    width: 250px;
    height: 250px;
    border-radius: 20px;
}
.part2-section__img
{
    position: relative;
}
.part2-section__img h2{
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-weight: bolder;
    color: white;
}
.ad{
    width: 600px;
    height: auto;
    margin: 10px;
    margin-left: 150px;
}

/* Explore places */
.exheader
{
    margin: 20px;
    padding: 10px;
}
.explore
{
    margin: 20px;
    padding: 10px;
    display: flex;
    gap: 10px;
    
}
.explore img{

    width: 250px;
    height: 250px;
    border-radius: 30px;
}
.explore p,h3{
    padding-left: 10px;
}

/* Inspiration section */

.inspire 
{
   margin: 20px;
   padding: 20px;
   background-color: lightgrey;

}

.inspire img{
    width: 284px;
    height: 177px;
    border-radius: 20px;
    position: relative;
}
.inspire-img-con
{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.things-sec__title
{
    margin: 20px;

}
.things-sec__places
{
    margin: 20px;
    padding: 10px;
    width: 250px;
    display: flex;
    gap: 20px;

}
.things-sec__places img
{
    width: 235px;
    height: 250px;
    border-radius: 20px;
    position: relative;
}

.p1
{
    background-color: aquamarine;
    padding: 8px;
    width: fit-content;
    border-radius: 7px;
}
.iconic
{
    margin: 20px;
}
.iconic-images
{
    display: flex;
    gap: 10px;
}
.iconic-images img{
    border-radius: 20px;
    width: 250px;
    height: 200px;
    padding-top: 20px;
    position: relative;

}
.iconic-images__img
{
    position: relative;
}
.iconic-images__img h3{
    position: absolute;
    bottom: 20px;
    left: 5px;
    color: white;
    font-weight: bolder;
}
.emptybox
{
    margin: 20px;
    width: 1050px;
    height:400px;
    background-color: beige;
    display: flex;
    justify-content: space-between;
}
.emptybox-sec1 img
{
    padding: 20px;
    width: 100px;
    height: 100px;
}
.emptybox h1{
    padding: 20px;
    padding-top:0;
    width: 300px;
    font-size: 40px;
}
.emptybox p{
    width: fit-content;
    padding: 10px;
    margin-left: 20px;
    background-color: black;
    color: white;
    border-radius: 20px;
}
.emptybox-sec2 img
{
    padding: 20px;
    width: 400px;
    height: 350px;
   
}
.footer
{
    margin: 20px;
    padding: 10px;
    background-color: #FF5d5d;
    color: white;
    
}
.footer-sec
{
display: flex;
gap: 40px;
padding: 20px;
}
.footer-tail
{
    display: flex;
}
.footer-tail img
{
    margin-left: 20px;
    width: 60px;
    height: 60px;
}
.footer-tail1
{
    padding: 10px;
}
.footer-tail2 
{   
    padding-left: 460px;
    width: 80px;
    height: 80px;
    gap: 50px;
}
/* Media Queries */
@media  screen and (max-width:600px) 
{
    .body
    {
        margin: 20px;
    }
    part1{
        flex-basis: 40%;
    }
    .navbar-sec2,.navbar-sec3
    {
        display: none;
    }
    .navbar-sec1
    {
        align-items: center;
    }
    .stream1
    {
        font-size: 12px;
        text-align: center;
        margin: 20 0 10 0;

    }

}


